<style>
    h5{
        color: red;
    }
    </style>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}

<h1>!! EDIT TASK !!</h1>
<form method="POST" action="edit">
    {% csrf_token %}
    <p>Title:  enter title of the task you want to edit</p>
    <input type="text" name="title" />
    <p>
       <br><br>
        SELECT WHATEVER YOU WANT TO EDIT :<br><br>
        <input type="checkbox" name="head" />
        TITLE<br>
        <input type="checkbox" name="body" />
        DESCRIPTION / BODY<br>
        <input type="checkbox" name="status" />
        STATUS
    </p>
    
    <input type="submit" />
</form>